<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="design.css">
</head>
<body>
<section>
    <form action="#" th:action="@{/}"
          th:object="${song}" method="post">
        <input type="text" id="inputId" th:field="*{name}" required />
        <button type="submit" class="btn btn-success">Search</button>
    </form>
</section>
<div class="container">
    <section class="row">
        <article class="col">
            <h1>Artists</h1>
            <br>
            <div class="card h-100 bg-light mb-3">
                <div th:each="artist: ${artists}" class="card-body">
                    <h3 th:text="${artist}">5 Artists</h3>
                </div>
            </div>
        </article>


        <article class="col">
            <h1>Songs</h1>
            <br>
            <div class="card h-100 bg-light mb-3">
                <div th:each="song: ${songs}" class="card-body">
                    <h3 th:text="${song}">5 songs</h3>
                </div>
            </div>
        </article>

        <article class="col">
            <h1>Genres</h1>
            <br>
            <div class="card h-100 bg-light mb-3">
                <div th:each="genre: ${genres}" class="card-body">
                    <h3 th:text="${genre}">5 Artists</h3>
                </div>
            </div>
        </article>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="kom_store_app.js" type="module"></script>
</body>
</html>