<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Genre</th>
    </tr>
    <tr>
        <td th:text="${song.getName()}"></td>
        <td th:text="${song.getArtist()}"></td>
        <td th:text="${song.getAlbum()}"></td>
        <td th:text="${song.getGenre()}"></td>
    </tr>
</table>
</body>
</html>